body
{
    background: url("Imagenes/Papel.jpg");
}
h1
{
    font-size: 5em;
    font-style: italic;
    color: red;
}

p
{
    color: #FF00FF;
    font-style: oblique;
    font-size: 2em;
    text-align: center;
}
input
{
    text-align: center;
    font-size: 2em;
    width: 3em;
}
